{% extends "/Base/base_nrps.html" %}
{% block title %}
<title>Contact</title>
{% endblock %}

{% block content %}
<div class="row container-fluid">
    <div class="col-sm-4 bg-warning">
       <h2>Molecular Modeling Lab</h2>
        <p>
           Division of Chemical Biology and Medicinal Chemistry<br>
           Eshelman School of Pharmacy<br>
           University of North Carolina at Chapel Hill<br>
           Website: <a href="https://pharmacy.unc.edu/directory/tropsha/" target="_blank">Molecular Modeling Lab</a><br>
           Tel: +1-(919)-9663459<br>
           Email:<a href="mailto:farags@email.unc.edu"> farags@email.unc.edu </a>
        </p>
    </div>
    <div class="col-sm-6" >
       <div>
        <img style="border:0;width:400px;height:150px" src="/static/img/UNC.png" class="img-thumbnail" alt="mml">
       </div>
    </div>
</div>
{% endblock %}
